In [38]:
import camelot
import pandas as pd

In [118]:
def merge_multipage_table_to_csv(
    pdf_path,
    pages="all",
    flavor="lattice",
    output_file="merged_table.csv",
):
    """
    Parse a table that spans multiple pages and merge into a single CSV file

    Parameters:
    -----------
    pdf_path : str
        Path to the PDF file
    pages : str
        Pages to parse. Can be 'all', '1,2,3', or '1-3'
    flavor : str
        'lattice' for tables with lines, 'stream' for tables without lines
    output_file : str
        Name of the output CSV file

    Returns:
    --------
    pandas.DataFrame: The merged table
    """

    # Read PDF tables
    print(f"Reading tables from {pdf_path}...")
    tables = camelot.read_pdf(
        pdf_path,
        pages=pages,
        flavor=flavor,
        table_areas=["28,813,567,27"],
        columns=["60,144,267,332,422,497"],
        row_tol=9,
    )

    if len(tables) == 0:
        print("No tables found in the PDF")
        return None, None

    print(f"Found {len(tables)} table(s) across pages")

    # Initialize merged dataframe
    merged_df = None

    for i, table in enumerate(tables):
        df = table.df

        df = df.apply(
            lambda col: (
                col.astype(str)
                .str.replace("\n", "", regex=False)
                .str.replace("\r", "", regex=False)
                .str.strip()
                if col.dtype == "object"
                else col
            )
        )

        print(f"  Page table {i+1}: Shape {df.shape}")

        if i == 0:
            # First table - keep as is
            merged_df = df.iloc[2:]
        else:
            df = df.iloc[1:]  # Skip the header row
            merged_df = pd.concat([merged_df, df], ignore_index=True)

    # Clean up the merged dataframe
    first_row = merged_df.iloc[0].astype(str)
    merged_df.columns = first_row
    merged_df = merged_df[1:].reset_index(drop=True)

    # Remove any completely empty rows
    merged_df = merged_df.dropna(how="all").reset_index(drop=True)

    # Save to CSV
    merged_df.to_csv(output_file, index=False)
    print(f"\nMerged table saved to: {output_file}")
    print(f"Final table shape: {merged_df.shape}")

    return merged_df, tables

In [119]:
if __name__ == "__main__":
    df, tables = merge_multipage_table_to_csv(
        pdf_path="oficjalny_spis_pna_2025.pdf",
        pages="3-350",
        flavor="stream",
        output_file="merged_output.csv",
    )

Reading tables from oficjalny_spis_pna_2025.pdf...
Found 348 table(s) across pages
  Page table 1: Shape (76, 7)
  Page table 2: Shape (81, 7)
  Page table 3: Shape (81, 7)
  Page table 4: Shape (81, 7)
  Page table 5: Shape (81, 7)
  Page table 6: Shape (80, 7)
  Page table 7: Shape (81, 7)
  Page table 8: Shape (81, 7)
  Page table 9: Shape (81, 7)
  Page table 10: Shape (81, 7)
  Page table 11: Shape (81, 7)
  Page table 12: Shape (81, 7)
  Page table 13: Shape (81, 7)
  Page table 14: Shape (81, 7)
  Page table 15: Shape (81, 7)
  Page table 16: Shape (81, 7)
  Page table 17: Shape (81, 7)
  Page table 18: Shape (81, 7)
  Page table 19: Shape (79, 7)
  Page table 20: Shape (81, 7)
  Page table 21: Shape (81, 7)
  Page table 22: Shape (81, 7)
  Page table 23: Shape (79, 7)
  Page table 24: Shape (80, 7)
  Page table 25: Shape (81, 7)
  Page table 26: Shape (80, 7)
  Page table 27: Shape (81, 7)
  Page table 28: Shape (81, 7)
  Page table 29: Shape (80, 7)
  Page table 30: Shape (81, 7)
  Page table 31: Shape (81, 7)
  Page table 32: Shape (81, 7)
  Page table 33: Shape (81, 7)
  Page table 34: Shape (81, 7)
  Page table 35: Shape (81, 7)
  Page table 36: Shape (80, 7)
  Page table 37: Shape (81, 7)
  Page table 38: Shape (81, 7)
  Page table 39: Shape (81, 7)
  Page table 40: Shape (81, 7)
  Page table 41: Shape (81, 7)
  Page table 42: Shape (81, 7)
  Page table 43: Shape (81, 7)
  Page table 44: Shape (81, 7)
  Page table 45: Shape (80, 7)
  Page table 46: Shape (81, 7)
  Page table 47: Shape (80, 7)
  Page table 48: Shape (81, 7)
  Page table 49: Shape (80, 7)
  Page table 50: Shape (81, 7)
  Page table 51: Shape (81, 7)
  Page table 52: Shape (81, 7)
  Page table 53: Shape (81, 7)
  Page table 54: Shape (81, 7)
  Page table 55: Shape (79, 7)
  Page table 56: Shape (81, 7)
  Page table 57: Shape (81, 7)
  Page table 58: Shape (81, 7)
  Page table 59: Shape (81, 7)
  Page table 60: Shape (81, 7)
  Page table 61: Shape (81, 7)
  Page table 62: Shape (80, 7)
  Page table 63: Shape (80, 7)
  Page table 64: Shape (81, 7)
  Page table 65: Shape (81, 7)
  Page table 66: Shape (81, 7)
  Page table 67: Shape (81, 7)
  Page table 68: Shape (80, 7)
  Page table 69: Shape (80, 7)
  Page table 70: Shape (81, 7)
  Page table 71: Shape (81, 7)
  Page table 72: Shape (81, 7)
  Page table 73: Shape (81, 7)
  Page table 74: Shape (81, 7)
  Page table 75: Shape (81, 7)
  Page table 76: Shape (81, 7)
  Page table 77: Shape (81, 7)
  Page table 78: Shape (81, 7)
  Page table 79: Shape (81, 7)
  Page table 80: Shape (79, 7)
  Page table 81: Shape (80, 7)
  Page table 82: Shape (81, 7)
  Page table 83: Shape (81, 7)
  Page table 84: Shape (81, 7)
  Page table 85: Shape (80, 7)
  Page table 86: Shape (80, 7)
  Page table 87: Shape (81, 7)
  Page table 88: Shape (81, 7)
  Page table 89: Shape (81, 7)
  Page table 90: Shape (80, 7)
  Page table 91: Shape (81, 7)
  Page table 92: Shape (81, 7)
  Page table 93: Shape (81, 7)
  Page table 94: Shape (81, 7)
  Page table 95: Shape (80, 7)
  Page table 96: Shape (81, 7)
  Page table 97: Shape (77, 7)
  Page table 98: Shape (81, 7)
  Page table 99: Shape (79, 7)
  Page table 100: Shape (81, 7)
  Page table 101: Shape (81, 7)
  Page table 102: Shape (81, 7)
  Page table 103: Shape (81, 7)
  Page table 104: Shape (81, 7)
  Page table 105: Shape (81, 7)
  Page table 106: Shape (81, 7)
  Page table 107: Shape (80, 7)
  Page table 108: Shape (81, 7)
  Page table 109: Shape (81, 7)
  Page table 110: Shape (80, 7)
  Page table 111: Shape (81, 7)
  Page table 112: Shape (81, 7)
  Page table 113: Shape (80, 7)
  Page table 114: Shape (81, 7)
  Page table 115: Shape (81, 7)
  Page table 116: Shape (81, 7)
  Page table 117: Shape (81, 7)
  Page table 118: Shape (81, 7)
  Page table 119: Shape (81, 7)
  Page table 120: Shape (81, 7)
  Page table 121: Shape (81, 7)
  Page table 122: Shape (81, 7)
  Page table 123: Shape (81, 7)
  Page table 124: Shape (81, 7)
  Page table 125: Shape (81, 7)
  Page table 126: Shape (81, 7)
  Page table 127: Shape (79, 7)
  Page table 128: Shape (81, 7)
  Page table 129: Shape (81, 7)
  Page table 130: Shape (81, 7)
  Page table 131: Shape (80, 7)
  Page table 132: Shape (80, 7)
  Page table 133: Shape (81, 7)
  Page table 134: Shape (81, 7)
  Page table 135: Shape (81, 7)
  Page table 136: Shape (81, 7)
  Page table 137: Shape (81, 7)
  Page table 138: Shape (80, 7)
  Page table 139: Shape (80, 7)
  Page table 140: Shape (81, 7)
  Page table 141: Shape (81, 7)
  Page table 142: Shape (80, 7)
  Page table 143: Shape (80, 7)
  Page table 144: Shape (81, 7)
  Page table 145: Shape (81, 7)
  Page table 146: Shape (81, 7)
  Page table 147: Shape (81, 7)
  Page table 148: Shape (81, 7)
  Page table 149: Shape (81, 7)
  Page table 150: Shape (81, 7)
  Page table 151: Shape (81, 7)
  Page table 152: Shape (81, 7)
  Page table 153: Shape (81, 7)
  Page table 154: Shape (81, 7)
  Page table 155: Shape (81, 7)
  Page table 156: Shape (81, 7)
  Page table 157: Shape (81, 7)
  Page table 158: Shape (80, 7)
  Page table 159: Shape (81, 7)
  Page table 160: Shape (81, 7)
  Page table 161: Shape (80, 7)
  Page table 162: Shape (80, 7)
  Page table 163: Shape (81, 7)
  Page table 164: Shape (81, 7)
  Page table 165: Shape (81, 7)
  Page table 166: Shape (81, 7)
  Page table 167: Shape (81, 7)
  Page table 168: Shape (80, 7)
  Page table 169: Shape (80, 7)
  Page table 170: Shape (79, 7)
  Page table 171: Shape (81, 7)
  Page table 172: Shape (81, 7)
  Page table 173: Shape (80, 7)
  Page table 174: Shape (80, 7)
  Page table 175: Shape (81, 7)
  Page table 176: Shape (81, 7)
  Page table 177: Shape (81, 7)
  Page table 178: Shape (81, 7)
  Page table 179: Shape (81, 7)
  Page table 180: Shape (81, 7)
  Page table 181: Shape (80, 7)
  Page table 182: Shape (79, 7)
  Page table 183: Shape (79, 7)
  Page table 184: Shape (81, 7)
  Page table 185: Shape (81, 7)
  Page table 186: Shape (81, 7)
  Page table 187: Shape (81, 7)
  Page table 188: Shape (81, 7)
  Page table 189: Shape (81, 7)
  Page table 190: Shape (81, 7)
  Page table 191: Shape (81, 7)
  Page table 192: Shape (81, 7)
  Page table 193: Shape (81, 7)
  Page table 194: Shape (81, 7)
  Page table 195: Shape (81, 7)
  Page table 196: Shape (81, 7)
  Page table 197: Shape (81, 7)
  Page table 198: Shape (81, 7)
  Page table 199: Shape (81, 7)
  Page table 200: Shape (81, 7)
  Page table 201: Shape (81, 7)
  Page table 202: Shape (81, 7)
  Page table 203: Shape (81, 7)
  Page table 204: Shape (81, 7)
  Page table 205: Shape (81, 7)
  Page table 206: Shape (81, 7)
  Page table 207: Shape (81, 7)
  Page table 208: Shape (81, 7)
  Page table 209: Shape (81, 7)
  Page table 210: Shape (81, 7)
  Page table 211: Shape (81, 7)
  Page table 212: Shape (81, 7)
  Page table 213: Shape (81, 7)
  Page table 214: Shape (81, 7)
  Page table 215: Shape (81, 7)
  Page table 216: Shape (81, 7)
  Page table 217: Shape (81, 7)
  Page table 218: Shape (81, 7)
  Page table 219: Shape (81, 7)
  Page table 220: Shape (81, 7)
  Page table 221: Shape (80, 7)
  Page table 222: Shape (81, 7)
  Page table 223: Shape (78, 7)
  Page table 224: Shape (79, 7)
  Page table 225: Shape (81, 7)
  Page table 226: Shape (79, 7)
  Page table 227: Shape (79, 7)
  Page table 228: Shape (80, 7)
  Page table 229: Shape (81, 7)
  Page table 230: Shape (80, 7)
  Page table 231: Shape (81, 7)
  Page table 232: Shape (81, 7)
  Page table 233: Shape (81, 7)
  Page table 234: Shape (77, 7)
  Page table 235: Shape (81, 7)
  Page table 236: Shape (81, 7)
  Page table 237: Shape (81, 7)
  Page table 238: Shape (81, 7)
  Page table 239: Shape (81, 7)
  Page table 240: Shape (81, 7)
  Page table 241: Shape (81, 7)
  Page table 242: Shape (78, 7)
  Page table 243: Shape (78, 7)
  Page table 244: Shape (81, 7)
  Page table 245: Shape (81, 7)
  Page table 246: Shape (80, 7)
  Page table 247: Shape (81, 7)
  Page table 248: Shape (81, 7)
  Page table 249: Shape (80, 7)
  Page table 250: Shape (81, 7)
  Page table 251: Shape (81, 7)
  Page table 252: Shape (80, 7)
  Page table 253: Shape (81, 7)
  Page table 254: Shape (80, 7)
  Page table 255: Shape (81, 7)
  Page table 256: Shape (81, 7)
  Page table 257: Shape (81, 7)
  Page table 258: Shape (81, 7)
  Page table 259: Shape (81, 7)
  Page table 260: Shape (81, 7)
  Page table 261: Shape (81, 7)
  Page table 262: Shape (81, 7)
  Page table 263: Shape (81, 7)
  Page table 264: Shape (80, 7)
  Page table 265: Shape (81, 7)
  Page table 266: Shape (81, 7)
  Page table 267: Shape (81, 7)
  Page table 268: Shape (81, 7)
  Page table 269: Shape (81, 7)
  Page table 270: Shape (81, 7)
  Page table 271: Shape (81, 7)
  Page table 272: Shape (81, 7)
  Page table 273: Shape (81, 7)
  Page table 274: Shape (81, 7)
  Page table 275: Shape (81, 7)
  Page table 276: Shape (81, 7)
  Page table 277: Shape (81, 7)
  Page table 278: Shape (81, 7)
  Page table 279: Shape (81, 7)
  Page table 280: Shape (81, 7)
  Page table 281: Shape (81, 7)
  Page table 282: Shape (79, 7)
  Page table 283: Shape (81, 7)
  Page table 284: Shape (81, 7)
  Page table 285: Shape (81, 7)
  Page table 286: Shape (81, 7)
  Page table 287: Shape (81, 7)
  Page table 288: Shape (81, 7)
  Page table 289: Shape (81, 7)
  Page table 290: Shape (81, 7)
  Page table 291: Shape (81, 7)
  Page table 292: Shape (81, 7)
  Page table 293: Shape (81, 7)
  Page table 294: Shape (81, 7)
  Page table 295: Shape (79, 7)
  Page table 296: Shape (79, 7)
  Page table 297: Shape (79, 7)
  Page table 298: Shape (81, 7)
  Page table 299: Shape (80, 7)
  Page table 300: Shape (80, 7)
  Page table 301: Shape (81, 7)
  Page table 302: Shape (81, 7)
  Page table 303: Shape (81, 7)
  Page table 304: Shape (81, 7)
  Page table 305: Shape (81, 7)
  Page table 306: Shape (81, 7)
  Page table 307: Shape (81, 7)
  Page table 308: Shape (81, 7)
  Page table 309: Shape (79, 7)
  Page table 310: Shape (81, 7)
  Page table 311: Shape (81, 7)
  Page table 312: Shape (81, 7)
  Page table 313: Shape (81, 7)
  Page table 314: Shape (81, 7)
  Page table 315: Shape (81, 7)
  Page table 316: Shape (81, 7)
  Page table 317: Shape (81, 7)
  Page table 318: Shape (80, 7)
  Page table 319: Shape (81, 7)
  Page table 320: Shape (81, 7)
  Page table 321: Shape (81, 7)
  Page table 322: Shape (81, 7)
  Page table 323: Shape (79, 7)
  Page table 324: Shape (81, 7)
  Page table 325: Shape (81, 7)
  Page table 326: Shape (80, 7)
  Page table 327: Shape (79, 7)
  Page table 328: Shape (79, 7)
  Page table 329: Shape (81, 7)
  Page table 330: Shape (80, 7)
  Page table 331: Shape (81, 7)
  Page table 332: Shape (81, 7)
  Page table 333: Shape (81, 7)
  Page table 334: Shape (81, 7)
  Page table 335: Shape (80, 7)
  Page table 336: Shape (81, 7)
  Page table 337: Shape (81, 7)
  Page table 338: Shape (81, 7)
  Page table 339: Shape (81, 7)
  Page table 340: Shape (81, 7)
  Page table 341: Shape (81, 7)
  Page table 342: Shape (81, 7)
  Page table 343: Shape (80, 7)
  Page table 344: Shape (81, 7)
  Page table 345: Shape (79, 7)
  Page table 346: Shape (81, 7)
  Page table 347: Shape (79, 7)
  Page table 348: Shape (80, 7)

Merged table saved to: merged_output.csv
Final table shape: (27722, 7)

In [120]:
df = pd.read_csv("merged_output.csv")

# Filter rows where PNA is missing
missing_pna = df[df["PNA"].isna() | (df["PNA"] == "")]

missing_pna

       PNA Miejscowość Ulica          Numery Gmina Powiat Województwo
133    NaN         NaN   NaN           12-15   NaN    NaN         NaN
1693   NaN         NaN   NaN  28-102(p), 115   NaN    NaN         NaN
1718   NaN         NaN   NaN       94-392(p)   NaN    NaN         NaN
2061   NaN         NaN   NaN        69-DK(n)   NaN    NaN         NaN
2065   NaN         NaN   NaN        4-26a(p)   NaN    NaN         NaN
...    ...         ...   ...             ...   ...    ...         ...
27171  NaN         NaN   NaN         6-14(p)   NaN    NaN         NaN
27228  NaN         NaN   NaN       29-39a(n)   NaN    NaN         NaN
27413  NaN         NaN   NaN     180-266(p),   NaN    NaN         NaN
27414  NaN         NaN   NaN         199-DK,   NaN    NaN         NaN
27415  NaN         NaN   NaN      231-241(n)   NaN    NaN         NaN

[624 rows x 7 columns]

In [128]:
postal_code_pattern = r"^\d{2}-\d{3}$"

# Filter rows where PNA does not match Polish postal code
invalid_pna = df[
    (df["PNA"].notna())
    & (~df["PNA"].astype(str).str.strip().str.match(postal_code_pattern))
]

invalid_pna

Empty DataFrame
Columns: [PNA, Miejscowość, Ulica, Numery, Gmina, Powiat, Województwo]
Index: []